
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(236, 236, 236);
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form>h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.auth-form>input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;
}

.auth-submit-btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
  border-radius: 3px;
}

.auth-extras {
  width: 100%; 
  text-align: center;
  padding: 17px 0px;
}